body {
  font-family: "HelveticaNeueW01-45Ligh", "HelveticaNeueW02-45Ligh",
    "HelveticaNeueW10-45Ligh", sans-serif;
}
.nav-bar {
  max-width: 100%;
  height: 130px;
  background-color: #ff9a32;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}
.imglogo {
  width: 30%;
  height: 100px;
}
.logo {
  width: 25%;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.logo p {
  font-size: 25px;
}
.nav-options ul {
  width: 65%;
  height: 130px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.nav-options ul li {
  color: #411e64;
  font-size: 15px;
}

.hero-section {
  display: flex;
  max-width: 100%;
  height: 760px;
}
.description {
  width: 675px;
  height: 140vh;
  text-align: left;
  padding: 85px 0 0 85px;
  font-family: "Times New Roman", Times, serif;
}
.description h1 {
  font-size: 80px;
  text-transform: uppercase;
  color: #411e64;
  font-weight: 400;
  line-height: 1.25em;
}

.description p {
  font-family: Georgia, serif;
  font-size: 20px;
  font-weight: 300;
  color: #ff9a32;
  line-height: 1.67em;
  margin-top: -20px;
}
.om-section {
  position: relative;
  z-index: -100;
  overflow-x: hidden;
  max-width: 100%;
}
.om-section p {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  font-size: 45px;
  line-height: 1.2em;
  transform: translate(-50%, -50%);
  width: 1400px;
  margin: auto;
  color: #411e64;
}

.classes {
  max-width: 100%;
  height: 220vh;
  margin: 0 auto;
}
.boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.box1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 267px;
  height: 1000px;
  overflow-x: hidden;
}
.box1 img {
  width: 267px;
  height: 400px;
}
.box1 h4 {
  font-size: 30px;
  color: #ff9a32;
}
.box1 p {
  font-size: 15px;
  line-height: 1.67em;
  letter-spacing: 1px;
  color: #323232;
  text-align: center;
  padding: 0px 15px 0 15px;
  margin-bottom: 30px;
}
.box1 button {
  border: 1px solid #411e64;
  background-color: #411e64;
  padding: 10px;
  color: #ffffff;
}
.classes h1,
.para {
  text-align: center;
}
.classes h1 {
  color: #ff9a32;
  font-size: 35px;
  margin-bottom: 10px;
}
.para {
  font-size: 20px;
  color: #323232;
}

.mission {
  height: 150vh;
  max-width: 100%;
  background-color: #411e64;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  color: white;
}
.mission h2 {
  font-size: 35px;
}
.mission h4 {
  font-size: 20px;
}
.mission button {
  border: 2px solid white;
  padding: 10px;
  background-color: #411e64;
  color: #ffffff;
}
.mission p {
  width: 850px;
  text-align: center;
  line-height: 1.67em;
  letter-spacing: 1px;
}

.images {
  height: 850px;
  width: 900px;
  margin: auto;
  margin-top: 150px;
}
.image1,
.image2,
.image3 {
  height: 250px;
  width: 900px;
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.image2 img {
  width: 450px;
}
.image1 .image3 .amma {
  width: 200px;
  height: 250px;
}
.rama {
  width: 680px;
}
.ganesha {
  width: 390px;
}
.plant {
  width: 500px;
}
.amma {
  width: 210px;
}

.donate {
  height: 100vh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
  background-color: #ff9a32;
}
.donate p {
  line-height: 1.67em;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  margin-top: -10px;
}
.donate h4 {
  font-size: 40px;
  color: #411e64;
}
.donate button {
  background-color: #411e64;
  padding: 15px;
  color: #ffffff;
  border: none;
}
.details {
  width: 1300px;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #411e64;
}
.details h2 {
  font-size: 45px;
  font-weight: 500;
}
input::placeholder {
  color: #411e64;
}
textarea::placeholder {
  color: #411e64;
}

.timing {
  padding-left: 40px;
}
.details .parad {
  padding-left: 65px;
  margin-top: 30px;
}
.form {
  width: 500px;
}
input,
textarea {
  padding: 10px;
  border-bottom: 1px solid #411e64;
  outline: 0;
  border-width: 0 0 1px;
}
.nameemail input {
  width: 40%;
}
.subject,
textarea {
  width: 85%;
}
.form button {
  width: 89%;
  padding: 15px;
  background-color: #411e64;
  color: #ffffff;
  border: none;
  font-size: 20px;
  font-weight: 500;
}
input:hover {
  border: 1px solid #411e64;
}
textarea:hover {
  border: 1px solid #411e64;
}
.socialmedia {
  height: 50px;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.socialmedia i {
  font-size: 18px;
}
.footer {
  height: 50px;
  text-align: center;

  background-color: #f0eace;
}
.footer p {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  padding-top: 15px;
}
